<!-- list -->
<ul class="wraplist wrapper-menu">

    <li ui-sref-active="active">
        <a ui-sref="app.frl-dashboard" class="nosub">
        <i class="material-icons">dashboard</i>
        <span class="title">Dashboard</span>
        </a>
    </li>

    <li href class="auto">
        <a href="javascript:;">
        <i class="material-icons">people</i>
        <span class="title">Buyers</span>
        <span class="arrow material-icons">keyboard_arrow_right</span>
        </a>
        <ul class="wraplist wraplist-sub sub-menu dk" >
            <li ui-sref-active="active">
                <a ui-sref="app.frl-buyers">All Buyers</a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="app.frl-buyer-add">Add Buyer</a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="app.frl-buyer-edit">Edit Buyer</a>
            </li>
        </ul>
    </li>
    <li href class="auto">
        <a href="javascript:;">
        <i class="material-icons">group_add</i>
        <span class="title">Sellers</span>
        <span class="arrow material-icons">keyboard_arrow_right</span>
        </a>
        <ul class="wraplist wraplist-sub sub-menu dk" >
            <li ui-sref-active="active">
                <a ui-sref="app.frl-sellers">All Sellers</a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="app.frl-seller-add">Add Seller</a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="app.frl-seller-edit">Edit Seller</a>
            </li>
        </ul>
    </li>
    <li href class="auto">
        <a href="javascript:;">
        <i class="material-icons">attach_money</i>
        <span class="title">Billing</span>
        <span class="arrow material-icons">keyboard_arrow_right</span>
        </a>
        <ul class="wraplist wraplist-sub sub-menu dk" >
            <li ui-sref-active="active">
                <a ui-sref="app.frl-invoices">All Invoices</a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="app.frl-invoice-add">Add Invoice</a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="app.frl-invoice-edit">Edit Invoice</a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="app.frl-invoice-view">View Invoice</a>
            </li>
        </ul>
    </li>
    <li href class="auto">
        <a href="javascript:;">
        <i class="material-icons">shopping_basket</i>
        <span class="title">Bids</span>
        <span class="arrow material-icons">keyboard_arrow_right</span>
        </a>
        <ul class="wraplist wraplist-sub sub-menu dk" >
            <li ui-sref-active="active">
                <a ui-sref="app.frl-bids">All Bids</a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="app.frl-bid-add">Add Bid</a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="app.frl-bid-edit">Edit Bid</a>
            </li>
        </ul>
    </li>
    
    <li href class="auto">
        <a href="javascript:;">
        <i class="material-icons">equalizer</i>
        <span class="title">Reports</span>
        <span class="arrow material-icons">keyboard_arrow_right</span>
        </a>
        <ul class="wraplist wraplist-sub sub-menu dk" >
            <li ui-sref-active="active">
                <a ui-sref="app.frl-report-sales">Sales</a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="app.frl-report-buyers">Buyers</a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="app.frl-report-targets">Targets</a>
            </li>
        </ul>
    </li>
    <li href class="auto">
        <a href="javascript:;">
        <i class="material-icons">help</i>
        <span class="title">Tickets</span>
        <span class="arrow material-icons">keyboard_arrow_right</span>
        </a>
        <ul class="wraplist wraplist-sub sub-menu dk" >
            <li ui-sref-active="active">
                <a ui-sref="app.frl-tickets">All Tickets</a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="app.frl-ticket-add">Add Ticket</a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="app.frl-ticket-edit">Edit Ticket</a>
            </li>
        </ul>
    </li>
    <li ui-sref-active="active">
        <a ui-sref="app.mail.list" class="nosub">
        <i class="material-icons">mail</i>
        <span class="title">Mail</span>
        </a>
    </li>

    <li href class="auto">
        <a href="javascript:;">
        <i class="material-icons">people</i>
        <span class="title">Users</span>
        <span class="arrow material-icons">keyboard_arrow_right</span>
        </a>
        <ul class="wraplist wraplist-sub sub-menu dk" >
            <li ui-sref-active="active">
                <a ui-sref="app.frl-users">All Users</a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="app.frl-user-add">Add User</a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="app.frl-user-edit">Edit User</a>
            </li>
        </ul>
    </li>


</ul>
<!-- / list -->