<!-- list -->
<ul class="wraplist wrapper-menu">
    <li ui-sref-active="active">
        <a ui-sref="app.soc-dashboard" class="nosub">
        <i class="material-icons">dashboard</i>
        <span class="title">Dashboard</span>
        </a>
    </li>
    <li ui-sref-active="active">
        <a ui-sref="app.mail.list" class="nosub">
        <i class="material-icons">mail</i>
        <span class="title">Messaging</span>
        </a>
    </li>
    <li ui-sref-active="active">
        <a ui-sref="app.soc-activity" class="nosub">
        <i class="material-icons">local_activity</i>
        <span class="title">Activity</span>
        </a>
    </li>
    <li href class="auto">
        <a href="javascript:;">
        <i class="material-icons">person</i>
        <span class="title">Members</span>
        <span class="arrow material-icons">keyboard_arrow_right</span>
        </a>
        <ul class="wraplist wraplist-sub sub-menu dk" >
            <li ui-sref-active="active">
                <a ui-sref="app.soc-members">All Members</a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="app.soc-member-add">Add Member</a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="app.soc-member-edit">Edit Member</a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="app.soc-member-profile">Member Profile</a>
            </li>
        </ul>
    </li>
    <li href class="auto">
        <a href="javascript:;">
        <i class="material-icons">perm_media</i>
        <span class="title">Media</span>
        <span class="arrow material-icons">keyboard_arrow_right</span>
        </a>
        <ul class="wraplist wraplist-sub sub-menu dk" >
            <li ui-sref-active="active">
                <a ui-sref="app.soc-media">All Media</a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="app.soc-upload">Upload</a>
            </li>
        </ul>
    </li>
    <li href class="auto">
        <a href="javascript:;">
        <i class="material-icons">group</i>
        <span class="title">Groups</span>
        <span class="arrow material-icons">keyboard_arrow_right</span>
        </a>
        <ul class="wraplist wraplist-sub sub-menu dk" >
            <li ui-sref-active="active">
                <a ui-sref="app.soc-groups">All Groups</a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="app.soc-group-add">Add Group</a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="app.soc-group-edit">Edit Group</a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="app.soc-group-view">View Group</a>
            </li>
        </ul>
    </li>
    <li href class="auto">
        <a href="javascript:;">
        <i class="material-icons">lock</i>
        <span class="title">Access</span>
        <span class="arrow material-icons">keyboard_arrow_right</span>
        </a>
        <ul class="wraplist wraplist-sub sub-menu dk" >
            <li ui-sref-active="active">
                <a ui-sref="access.login">Login</a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="access.register">Registration</a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="access.forgotpwd">Forgot Password</a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="access.lockscreen">Lock Screen</a>
            </li>
        </ul>
    </li>
    <li href class="auto">
        <a href="javascript:;">
        <i class="material-icons">equalizer</i>
        <span class="title">Reports</span>
        <span class="arrow material-icons">keyboard_arrow_right</span>
        </a>
        <ul class="wraplist wraplist-sub sub-menu dk" >
            <li ui-sref-active="active">
                <a ui-sref="app.soc-report-site">Site</a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="app.soc-report-visitors">Visitors</a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="app.soc-report-statistics">Statistics</a>
            </li>
        </ul>
    </li>
    <li ui-sref-active="active">
        <a ui-sref="app.soc-friends" class="nosub">
        <i class="material-icons">group_add</i>
        <span class="title">Friends</span>
        </a>
    </li>
    <li ui-sref-active="active">
        <a ui-sref="app.soc-account-settings" class="nosub">
        <i class="material-icons">settings</i>
        <span class="title">Settings</span>
        </a>
    </li>













</ul>
<!-- / list -->