<!-- list -->
<ul class="wraplist wrapper-menu">
    <li ui-sref-active="active">
        <a ui-sref="app.eco-dashboard" class="nosub">
        <i class="material-icons">dashboard</i>
        <span class="title">Dashboard</span>
        </a>
    </li>
    <li href class="auto">
        <a href="javascript:;">
        <i class="material-icons">shopping_cart</i>
        <span class="title">Products</span>
        <span class="arrow material-icons">keyboard_arrow_right</span>
        </a>
        <ul class="wraplist wraplist-sub sub-menu dk" >
            <li ui-sref-active="active">
                <a ui-sref="app.eco-products">All Products</a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="app.eco-product-add">Add Product</a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="app.eco-product-edit">Edit Product</a>
            </li>
        </ul>
    </li>

    <li href class="auto">
        <a href="javascript:;">
        <i class="material-icons">attach_money</i>
        <span class="title">Billing</span>
        <span class="arrow material-icons">keyboard_arrow_right</span>
        </a>
        <ul class="wraplist wraplist-sub sub-menu dk" >
            <li ui-sref-active="active">
                <a ui-sref="app.eco-invoices">All Invoices</a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="app.eco-invoice-add">Add Invoice</a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="app.eco-invoice-edit">Edit Invoice</a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="app.eco-invoice-view">View Invoice</a>
            </li>
        </ul>
    </li>

    <li href class="auto">
        <a href="javascript:;">
        <i class="material-icons">people</i>
        <span class="title">Customers</span>
        <span class="arrow material-icons">keyboard_arrow_right</span>
        </a>
        <ul class="wraplist wraplist-sub sub-menu dk" >
            <li ui-sref-active="active">
                <a ui-sref="app.eco-customers">All Customers</a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="app.eco-customer-add">Add Customer</a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="app.eco-customer-edit">Edit Customer</a>
            </li>
        </ul>
    </li>

    <li href class="auto">
        <a href="javascript:;">
        <i class="material-icons">group_add</i>
        <span class="title">Vendors</span>
        <span class="arrow material-icons">keyboard_arrow_right</span>
        </a>
        <ul class="wraplist wraplist-sub sub-menu dk" >
            <li ui-sref-active="active">
                <a ui-sref="app.eco-vendors">All Vendors</a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="app.eco-vendor-add">Add Vendor</a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="app.eco-vendor-edit">Edit Vendor</a>
            </li>
        </ul>
    </li>
    <li href class="auto">
        <a href="javascript:;">
        <i class="material-icons">shopping_basket</i>
        <span class="title">Orders</span>
        <span class="arrow material-icons">keyboard_arrow_right</span>
        </a>
        <ul class="wraplist wraplist-sub sub-menu dk" >
            <li ui-sref-active="active">
                <a ui-sref="app.eco-orders">All Orders</a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="app.eco-order-add">Add Order</a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="app.eco-order-edit">Edit Order</a>
            </li>
        </ul>
    </li>

    <li href class="auto">
        <a href="javascript:;">
        <i class="material-icons">people</i>
        <span class="title">Users</span>
        <span class="arrow material-icons">keyboard_arrow_right</span>
        </a>
        <ul class="wraplist wraplist-sub sub-menu dk" >
            <li ui-sref-active="active">
                <a ui-sref="app.eco-users">All Users</a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="app.eco-user-add">Add User</a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="app.eco-user-edit">Edit User</a>
            </li>
        </ul>
    </li>    
    <li ui-sref-active="active">
        <a ui-sref="app.mail.list" class="nosub">
        <i class="material-icons">mail</i>
        <span class="title">Messaging</span>
        </a>
    </li>

    <li href class="auto">
        <a href="javascript:;">
        <i class="material-icons">equalizer</i>
        <span class="title">Reports</span>
        <span class="arrow material-icons">keyboard_arrow_right</span>
        </a>
        <ul class="wraplist wraplist-sub sub-menu dk" >
            <li ui-sref-active="active">
                <a ui-sref="app.eco-report-site">Site</a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="app.eco-report-visitors">Visitors</a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="app.eco-report-statistics">Statistics</a>
            </li>
        </ul>
    </li>    
    <li href class="auto">
        <a href="javascript:;">
        <i class="material-icons">device_hub</i>
        <span class="title">Product Categories</span>
        <span class="arrow material-icons">keyboard_arrow_right</span>
        </a>
        <ul class="wraplist wraplist-sub sub-menu dk" >
            <li ui-sref-active="active">
                <a ui-sref="app.eco-categories">Product Categories</a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="app.eco-category-add">Add Product Category</a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="app.eco-category-edit">Edit Product Category</a>
            </li>
        </ul>
    </li>

    <li href class="auto">
        <a href="javascript:;">
        <i class="material-icons">label</i>
        <span class="title">Product Tags</span>
        <span class="arrow material-icons">keyboard_arrow_right</span>
        </a>
        <ul class="wraplist wraplist-sub sub-menu dk" >
            <li ui-sref-active="active">
                <a ui-sref="app.eco-tags">All Product Tags</a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="app.eco-tag-add">Add Product Tag</a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="app.eco-tag-edit">Edit Product Tag</a>
            </li>
        </ul>
    </li>
    <li ui-sref-active="active">
        <a ui-sref="app.eco-account-settings" class="nosub">
        <i class="material-icons">settings</i>
        <span class="title">Settings</span>
        </a>
    </li>

</ul>
<!-- / list -->