<!-- list -->
<ul class="wraplist wrapper-menu">

    <li ui-sref-active="active">
        <a ui-sref="app.mus-dashboard" class="nosub">
        <i class="material-icons">dashboard</i>
        <span class="title">Dashboard</span>
        </a>
    </li>
    <li href class="auto">
        <a href="javascript:;">
        <i class="material-icons">library_music</i>
        <span class="title">Genres</span>
        <span class="arrow material-icons">keyboard_arrow_right</span>
        </a>
        <ul class="wraplist wraplist-sub sub-menu dk" >
            <li ui-sref-active="active">
                <a ui-sref="app.mus-genres">All Genres</a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="app.mus-genre-add">Add Genre</a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="app.mus-genre-edit">Edit Genre</a>
            </li>
        </ul>
    </li>
    <li href class="auto">
        <a href="javascript:;">
        <i class="material-icons">album</i>
        <span class="title">Albums</span>
        <span class="arrow material-icons">keyboard_arrow_right</span>
        </a>
        <ul class="wraplist wraplist-sub sub-menu dk" >
            <li ui-sref-active="active">
                <a ui-sref="app.mus-albums">All Albums</a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="app.mus-album-add">Add Album</a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="app.mus-album-edit">Edit Album</a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="app.mus-album-view">View Album</a>
            </li>
        </ul>
    </li>
    <li href class="auto">
        <a href="javascript:;">
        <i class="material-icons">face</i>
        <span class="title">Artists</span>
        <span class="arrow material-icons">keyboard_arrow_right</span>
        </a>
        <ul class="wraplist wraplist-sub sub-menu dk" >
            <li ui-sref-active="active">
                <a ui-sref="app.mus-artists">All Artists</a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="app.mus-artist-add">Add Artist</a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="app.mus-artist-edit">Edit Artist</a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="app.mus-artist-profile">Artist Profile</a>
            </li>
        </ul>
    </li>
    <li ui-sref-active="active">
        <a ui-sref="app.mus-upload" class="nosub">
        <i class="material-icons">queue_music</i>
        <span class="title">Upload</span>
        </a>
    </li>
    <li href class="auto">
        <a href="javascript:;">
        <i class="material-icons">audiotrack</i>
        <span class="title">Songs</span>
        <span class="arrow material-icons">keyboard_arrow_right</span>
        </a>
        <ul class="wraplist wraplist-sub sub-menu dk" >
            <li ui-sref-active="active">
                <a ui-sref="app.mus-song-add">Add Song</a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="app.mus-song-edit">Edit Song</a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="app.mus-song-view">View Song</a>
            </li>
        </ul>
    </li>
    <li href class="auto">
        <a href="javascript:;">
        <i class="material-icons">playlist_add</i>
        <span class="title">Playlists</span>
        <span class="arrow material-icons">keyboard_arrow_right</span>
        </a>
        <ul class="wraplist wraplist-sub sub-menu dk" >
            <li ui-sref-active="active">
                <a ui-sref="app.mus-playlists">All Playlists</a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="app.mus-playlist-add">Add Playlist</a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="app.mus-playlist-edit">Edit Playlist</a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="app.mus-playlist-view">View Playlist</a>
            </li>
        </ul>
    </li>

<li href class="auto">
        <a href="javascript:;">
        <i class="material-icons">equalizer</i>
        <span class="title">Reports</span>
        <span class="arrow material-icons">keyboard_arrow_right</span>
        </a>
        <ul class="wraplist wraplist-sub sub-menu dk" >
            <li ui-sref-active="active">
                <a ui-sref="app.mus-report-songs">Songs</a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="app.mus-report-visitors">Visitors</a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="app.mus-report-statistics">Statistics</a>
            </li>
        </ul>
    </li>
    
    <li ui-sref-active="active">
        <a ui-sref="app.mail.list" class="nosub">
        <i class="material-icons">mail</i>
        <span class="title">Mail</span>
        </a>
    </li>

    <li ui-sref-active="active">
        <a ui-sref="app.mus-events" class="nosub">
        <i class="material-icons">event</i>
        <span class="title">Events</span>
        </a>
    </li>




</ul>
<!-- / list -->