<!-- list -->
<ul class="wraplist wrapper-menu">

    <li ui-sref-active="active">
        <a ui-sref="app.blo-dashboard" class="nosub">
        <i class="material-icons">dashboard</i>
        <span class="title">Dashboard</span>
        </a>
    </li>
    <li href class="auto">
        <a href="javascript:;">
        <i class="material-icons">edit</i>
        <span class="title">Blogs</span>
        <span class="arrow material-icons">keyboard_arrow_right</span>
        </a>
        <ul class="wraplist wraplist-sub sub-menu dk" >
            <li ui-sref-active="active">
                <a ui-sref="app.blo-blogs">All Blogs</a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="app.blo-blog-add">Add Blog</a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="app.blo-blog-edit">Edit Blog</a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="app.blo-blog-view">View Blog</a>
            </li>
        </ul>
    </li>
    <li ui-sref-active="active">
        <a ui-sref="app.blo-search" class="nosub">
        <i class="material-icons">search</i>
        <span class="title">Search</span>
        </a>
    </li>

    <li href class="auto">
        <a href="javascript:;">
        <i class="material-icons">perm_media</i>
        <span class="title">Media</span>
        <span class="arrow material-icons">keyboard_arrow_right</span>
        </a>
        <ul class="wraplist wraplist-sub sub-menu dk" >
            <li ui-sref-active="active">
                <a ui-sref="app.blo-media">All Media</a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="app.blo-upload">Upload</a>
            </li>
        </ul>
    </li>
    <li href class="auto">
        <a href="javascript:;">
        <i class="material-icons">device_hub</i>
        <span class="title">Categories</span>
        <span class="arrow material-icons">keyboard_arrow_right</span>
        </a>
        <ul class="wraplist wraplist-sub sub-menu dk" >
            <li ui-sref-active="active">
                <a ui-sref="app.blo-categories">All Categories</a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="app.blo-category-add">Add Category</a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="app.blo-category-edit">Edit Category</a>
            </li>
        </ul>
    </li>

    <li href class="auto">
        <a href="javascript:;">
        <i class="material-icons">insert_drive_file</i>
        <span class="title">Pages</span>
        <span class="arrow material-icons">keyboard_arrow_right</span>
        </a>
        <ul class="wraplist wraplist-sub sub-menu dk" >
            <li ui-sref-active="active">
                <a ui-sref="app.blo-pages">All Pages</a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="app.blo-page-add">Add Page</a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="app.blo-page-edit">Edit Page</a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="app.blo-page-view">View Page</a>
            </li>
        </ul>
    </li>

    <li href class="auto">
        <a href="javascript:;">
        <i class="material-icons">people</i>
        <span class="title">Users</span>
        <span class="arrow material-icons">keyboard_arrow_right</span>
        </a>
        <ul class="wraplist wraplist-sub sub-menu dk" >
            <li ui-sref-active="active">
                <a ui-sref="app.blo-users">All Users</a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="app.blo-user-add">Add User</a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="app.blo-user-edit">Edit User</a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="app.blo-user-profile">User Profile</a>
            </li>
        </ul>
    </li>

    <li ui-sref-active="active">
        <a ui-sref="app.mail.list" class="nosub">
        <i class="material-icons">mail</i>
        <span class="title">Mail</span>
        </a>
    </li>

<li href class="auto">
        <a href="javascript:;">
        <i class="material-icons">equalizer</i>
        <span class="title">Reports</span>
        <span class="arrow material-icons">keyboard_arrow_right</span>
        </a>
        <ul class="wraplist wraplist-sub sub-menu dk" >
            <li ui-sref-active="active">
                <a ui-sref="app.blo-report-site">Site</a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="app.blo-report-visitors">Visitors</a>
            </li>
        </ul>
    </li>
    
    <li href class="auto">
        <a href="javascript:;">
        <i class="material-icons">label</i>
        <span class="title">Tags</span>
        <span class="arrow material-icons">keyboard_arrow_right</span>
        </a>
        <ul class="wraplist wraplist-sub sub-menu dk" >
            <li ui-sref-active="active">
                <a ui-sref="app.blo-tags">All Tags</a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="app.blo-tag-add">Add Tag</a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="app.blo-tag-edit">Edit Tag</a>
            </li>
        </ul>
    </li>

</ul>
<!-- / list -->