<div class='content-wrapper' ng-init="app.settings.pagetitle = 'Edit Tag ';">
    <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">
        <section class="box ">
            <header class="panel_header">
                <h2 class="title pull-left">Tag Basic Info</h2>
                <div class="actions panel_actions pull-right">
                    <i class="box_toggle material-icons">expand_more</i>
                    <i class="box_setting material-icons" ng-click="section_modal()">mode_edit</i>
                    <i class="box_close material-icons">close</i>
                </div>
            </header>
            <div class="content-body padding-bottom-0">
                <div class="row">
                    <form action ="#" method="post">
                        <div class="col-lg-8 col-md-8 col-sm-9 col-xs-12">
                            
                            <div class="form-group">
                                <label class="form-label" for="field-1">Tag Name</label>
                                <span class="desc"></span>
                                <div class="controls">
                                    <input type="text" value="branding" class="form-control" id="field-1">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="form-label" for="field-1">Tag Slug</label>
                                <span class="desc"></span>
                                <div class="controls">
                                    <input type="text" value="branding" class="form-control" id="field-3">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="form-label" for="field-6">Description</label>
                                <span class="desc">e.g. "Enter any size of text description here"</span>
                                <div class="controls">
                                    <textarea class="form-control" cols="5" id="field-6">A simple description for tag goes here</textarea>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-8 col-md-8 col-sm-9 col-xs-12 padding-bottom-30">
                            <div class="text-left">
                                <button type="button" class="btn btn-primary">Save</button>
                                <button type="button" class="btn">Cancel</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </section>
    </div>

</div>