<div class='content-wrapper' ng-init="app.settings.pagetitle = 'Patient Reports';">

    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <section class="box ">
            <header class="panel_header">
                <h2 class="title pull-left">Cost Effectiveness</h2>
                <div class="actions panel_actions pull-right">
                    <i class="box_toggle material-icons">expand_more</i>
                    <i class="box_setting material-icons" ng-click="section_modal()">mode_edit</i>
                    <i class="box_close material-icons">close</i>
                </div>
            </header>
            <div class="content-body">
                <div class="row">

                    <div class="col-md-8 col-sm-12 col-xs-12 col-md-offset-2" ng-controller="CostEffectiveCtrl">
        
                        <div class="graph_axis_color">
                        <p><span class='bg-primary'></span> Knee Replacement Surgery</p>
                        <p><span class='bg-accent'></span> Eye Care Camps</p>
                        </div>

                        <canvas id="bar" class="chart chart-bar" chart-data="data" chart-labels="labels" chart-colours="colours"></canvas>
                    </div>
                </div>
            </div>
        </section>
    </div>

    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <section class="box ">
            <header class="panel_header">
                <h2 class="title pull-left">Patient Monthly Survey</h2>
                <div class="actions panel_actions pull-right">
                    <i class="box_toggle material-icons">expand_more</i>
                    <i class="box_setting material-icons" ng-click="section_modal()">mode_edit</i>
                    <i class="box_close material-icons">close</i>
                </div>
            </header>
            <div class="content-body">
                <div class="row">
                    <div class="col-md-8 col-sm-12 col-xs-12 col-md-offset-2" ng-controller="PatientSurveyCtrl">
                        <canvas id="line" class="chart chart-line" chart-data="data" chart-labels="labels" chart-legend="true" chart-series="series" chart-click="onClick" chart-colours="colours">
                        </canvas>
                    </div>
                </div>
            </div>
        </section>
    </div>

    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <section class="box ">
            <header class="panel_header">
                <h2 class="title pull-left">Patient Satisfaction Level</h2>
                <div class="actions panel_actions pull-right">
                    <i class="box_toggle material-icons">expand_more</i>
                    <i class="box_setting material-icons" ng-click="section_modal()">mode_edit</i>
                    <i class="box_close material-icons">close</i>
                </div>
            </header>
            <div class="content-body">
                <div class="row">

                    <div class="col-md-8 col-sm-12 col-xs-12 col-md-offset-2" ng-controller="PatientSatisfactionCtrl">
        
                        <div class="graph_axis_color">
                        <p><span class='bg-primary'></span> Hospital Cleanliness</p>
                        <p><span class='bg-accent'></span> Patient Care</p>
                        <p><span class='bg-warning'></span> Nursing</p>
                        </div>

                        <canvas id="bar" class="chart chart-bar" chart-data="data" chart-labels="labels" chart-colours="colours"></canvas>
                    </div>
                </div>
            </div>
        </section>
    </div>


    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <section class="box ">
            <header class="panel_header">
                <h2 class="title pull-left">Patient Daily Activity</h2>
                <div class="actions panel_actions pull-right">
                    <i class="box_toggle material-icons">expand_more</i>
                    <i class="box_setting material-icons" ng-click="section_modal()">mode_edit</i>
                    <i class="box_close material-icons">close</i>
                </div>
            </header>
            <div class="content-body">
                <div class="row">
                    <div class="col-md-8 col-sm-12 col-xs-12 col-md-offset-2" ng-controller="PatientActivityCtrl">


                        <div class="graph_axis_color">
                        <p><span class='bg-primary'></span> Before Heart Surgery</p>
                        <p><span class='bg-accent'></span> After Heart Surgery</p>
                        </div>

                        <canvas id="radar" class="chart chart-radar" chart-data="data" chart-labels="labels" chart-colours="colours"></canvas>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <section class="box ">
            <header class="panel_header">
                <h2 class="title pull-left">Patient Count</h2>
                <div class="actions panel_actions pull-right">
                    <i class="box_toggle material-icons">expand_more</i>
                    <i class="box_setting material-icons" ng-click="section_modal()">mode_edit</i>
                    <i class="box_close material-icons">close</i>
                </div>
            </header>
            <div class="content-body">
                <div class="row">
                    <div class="col-md-8 col-sm-12 col-xs-12 col-md-offset-2" ng-controller="PatientCountCtrl">
                        <canvas id="base" class="chart-base" chart-type="type" chart-data="data" chart-labels="labels" chart-legend="true" chart-colours="colours"></canvas>
                        <div class="clearfix"></div>
                        <div class="text-center">
                        <button type="button" class="btn btn-primary" ng-click="toggle()">Toggle</button>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>

    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <section class="box ">
            <header class="panel_header">
                <h2 class="title pull-left">Patient Gender Count</h2>
                <div class="actions panel_actions pull-right">
                    <i class="box_toggle material-icons">expand_more</i>
                    <i class="box_setting material-icons" ng-click="section_modal()">mode_edit</i>
                    <i class="box_close material-icons">close</i>
                </div>
            </header>
            <div class="content-body">
                <div class="row">
                    <div class="col-md-8 col-sm-12 col-xs-12 col-md-offset-2" ng-controller="GenderCountCtrl">
                        <canvas id="doughnut" class="chart chart-doughnut" chart-data="data" chart-labels="labels" chart-colours="colours"></canvas>
                    </div>
                </div>
            </div>
        </section>
    </div>
    
</div>
