<div class='content-wrapper' ng-init="app.settings.menuFolded = true;app.settings.chatFolded = true;app.settings.layoutBoxed = false;app.settings.pagetitle = 'Collapsed Menu';  ">
    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
        <section class="box ">
            <header class="panel_header">
                <h2 class="title pull-left">Section Box</h2>
                <div class="actions panel_actions pull-right">
                    <i class="box_toggle material-icons">expand_more</i>
                    <i class="box_setting material-icons" ng-click="section_modal()">mode_edit</i>
                    <i class="box_close material-icons">close</i>
                </div>
            </header>
            <div class="content-body">
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <h4 class="margin-bottom-15">Graphic Design</h4>
                        <p>The field is considered a subset of visual communication and communication design, but sometimes the term "graphic design" is used interchangeably with these due to overlapping skills involved.
                        </p>
                        <p>Graphic designers use various methods to create and combine words, symbols, and images to create a visual representation of ideas and messages. A graphic designer may use a combination of typography, visual arts and page layout techniques to produce a final result.</p>
                        <p>Graphic design often refers to both the process (designing) by which the communication is created and the products (designs) which are generated.
                        </p>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
        <section class="box ">
            <header class="panel_header">
                <h2 class="title pull-left">Section Box</h2>
                <div class="actions panel_actions pull-right">
                    <i class="box_toggle material-icons">expand_more</i>
                    <i class="box_setting material-icons" ng-click="section_modal()">mode_edit</i>
                    <i class="box_close material-icons">close</i>
                </div>
            </header>
            <div class="content-body">
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <h4 class="margin-bottom-15">Design related</h4>
                        <p>
                            Common uses of graphic design include identity (logos and branding), publications (magazines, newspapers and books), print advertisements, posters, billboards, website graphics and elements, signs and product packaging.
                        </p>
                        <p>
                            For example, a product package might include a logo or other artwork, organized text and pure design elements such as images, shapes and color which unify the piece.
                        </p>
                        <p>
                            Composition is one of the most important features of graphic design, especially when using pre-existing materials or diverse elements and effects.
                        </p>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>
