<div class='content-wrapper' ng-init="app.settings.pagetitle = 'Song Reports';">

   
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <section class="box ">
            <header class="panel_header">
                <h2 class="title pull-left">Song Comparisons</h2>
                <div class="actions panel_actions pull-right">
                    <i class="box_toggle material-icons">expand_more</i>
                    <i class="box_setting material-icons" ng-click="section_modal()">mode_edit</i>
                    <i class="box_close material-icons">close</i>
                </div>
            </header>
            <div class="content-body">
                <div class="row">

                    <div class="col-md-8 col-sm-12 col-xs-12 col-md-offset-2" ng-controller="SongPassingCtrl">
        
                        <div class="graph_axis_color">
                        <p><span class='bg-primary'></span> Trending Songs</p>
                        <p><span class='bg-accent'></span> All Songs</p>
                        </div>

                        <canvas id="bar" class="chart chart-bar" chart-data="data" chart-labels="labels" chart-colours="colours"></canvas>
                    </div>
                </div>
            </div>
        </section>
    </div>


    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <section class="box ">
            <header class="panel_header">
                <h2 class="title pull-left">Genre Comparisons</h2>
                <div class="actions panel_actions pull-right">
                    <i class="box_toggle material-icons">expand_more</i>
                    <i class="box_setting material-icons" ng-click="section_modal()">mode_edit</i>
                    <i class="box_close material-icons">close</i>
                </div>
            </header>
            <div class="content-body">
                <div class="row">
                    <div class="col-md-8 col-sm-12 col-xs-12 col-md-offset-2" ng-controller="SongTestScoreCtrl">
                        <canvas id="line" class="chart chart-line" chart-data="data" chart-labels="labels" chart-legend="true" chart-series="series" chart-click="onClick" chart-colours="colours">
                        </canvas>
                    </div>
                </div>
            </div>
        </section>
    </div>

    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <section class="box ">
            <header class="panel_header">
                <h2 class="title pull-left">Playlist by Genre</h2>
                <div class="actions panel_actions pull-right">
                    <i class="box_toggle material-icons">expand_more</i>
                    <i class="box_setting material-icons" ng-click="section_modal()">mode_edit</i>
                    <i class="box_close material-icons">close</i>
                </div>
            </header>
            <div class="content-body">
                <div class="row">

                    <div class="col-md-8 col-sm-12 col-xs-12 col-md-offset-2" ng-controller="SongSatisfactionCtrl">
        
                        <div class="graph_axis_color">
                        <p><span class='bg-primary'></span> Classical Music Playlist</p>
                        <p><span class='bg-accent'></span> Rock Music Playlist</p>
                        <p><span class='bg-warning'></span> Metal Music Playlist</p>
                        </div>

                        <canvas id="bar" class="chart chart-bar" chart-data="data" chart-labels="labels" chart-colours="colours"></canvas>
                    </div>
                </div>
            </div>
        </section>
    </div>


    
</div>
