<div class='content-wrapper' ng-init="app.settings.pagetitle = 'Artists';">
    <div class="col-lg-12" ng-controller="ArtistsCtrl">
        <section class="box ">
            <header class="panel_header">
                <h2 class="title pull-left">All Artists</h2>
                <div class="actions panel_actions pull-right">
                    <i class="box_toggle material-icons">expand_more</i>
                    <i class="box_setting material-icons" ng-click="section_modal()">mode_edit</i>
                    <i class="box_close material-icons">close</i>
                </div>
            </header>
            <div class="content-body padding-bottom-0">
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="row">
                            <div class="col-lg-3 col-xs-6 col-sm-6 col-md-4" ng-repeat="artist in artists">
                                <div class="team-member ">
                                    <div class="team-img col-md-12 col-sm-12 col-xs-12">
                                        <img class="img-responsive" ng-src="{{artist.avatar}}" alt="">
                                    </div>
                                    <div class="team-info col-md-12 col-sm-12 col-xs-12">
                                        <h4 class='margin-top-15 margin-bottom-10 text-primary'><a ui-sref="app.mus-artist-profile">{{artist.name}}</a></h4>
                                    <p class="margin-top-15">{{artist.albums}}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        

                        <div class="row" ng-controller="PaginationDemoCtrl">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center padding-top-30 padding-bottom-30">
                                <uib-pagination total-items="totalItems" ng-model="currentPage"></uib-pagination>
                            </div>
                        </div>


                    </div>
                </div>
            </div>
        </section>
    </div>
</div>
