<div class='content-wrapper' ng-init="app.settings.pagetitle = 'Publisher';" ng-controller="PublisherCtrl">

    <div class="col-lg-12">
        <section class="box ">
            <div class="content-body padding-bottom-0">
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="clearfix"></div>
                        <table st-table="rowCollectionPage" class="table table-striped margin-top-15 margin-bottom-0">
                            <thead>
                                <tr>
                                    <th st-sort="name">Name</th>
                                    <th st-sort="name">Questions</th>
                                    <th st-sort="count">Paze Points</th>
                                    <th st-sort="who">Participation</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="survey in surveys">
                                    <td style="cursor: pointer" ng-click="showSelectedSurvey(survey.survey)">{{survey.survey.name}}</td>
                                    <td>{{survey.questionAmount}}</td>
                                    <td>{{survey.survey.pazePoints}}</td>
                                    <td>
                                        <uib-progressbar class="progress-striped active" max="max" value="30 + survey.answersAmount"><span style="white-space:nowrap;">{{survey.answersAmount}} / {{survey.survey.amountOfParticipants}}</span></uib-progressbar>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </section>
    </div>

    <div id="Logo">
      <h1 style="text-align:center">{{selectedSurvey.name}}</h1>  

        <div class="col-lg-12">
            <section class="box ">
                <div class="content-body">
                    <div class="row">
                        <div class="col-md-12 col-sm-12 col-xs-12">




                            <div ng-repeat="question in aggregatedAnswers">
                                {{question.q}}
                                <div donut-chart donut-data='question.answers' donut-colors='question.colors'>
                                </div>
                            </div>


                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>



</div>