<div class='content-wrapper' ng-init="app.settings.pagetitle = 'Members';">
    <div class="col-lg-12" ng-controller="MembersCtrl">
        <section class="box ">
            <header class="panel_header">
                <h2 class="title pull-left">All Members</h2>
                <div class="actions panel_actions pull-right">
                    <i class="box_toggle material-icons">expand_more</i>
                    <i class="box_setting material-icons" ng-click="section_modal()">mode_edit</i>
                    <i class="box_close material-icons">close</i>
                </div>
            </header>
            <div class="content-body padding-bottom-0">
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="row">
                            <div class="col-lg-3 col-sm-6 col-md-4 col-md-12" ng-repeat="member in members">
                                <div class="team-member ">
                                    <div class="team-img col-md-12 col-sm-12 col-xs-12">
                                        <img class="img-responsive" ng-src="{{member.avatar}}" alt="">
                                    </div>
                                    <div class="team-info col-md-12 col-sm-12 col-xs-12">
                                        <h4 class='margin-top-15 margin-bottom-10 text-primary'><a ui-sref="app.soc-member-profile">{{member.name}}</a></h4>
                                        <span class='team-member-edit'><a ui-sref="app.soc-member-edit"><i class='material-icons icon-sm'>edit</i></a></span>
                                        <span>Age: {{member.age}} yrs, {{member.occupation}}</span>
                                        <div class="clearfix"></div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row" ng-controller="PaginationDemoCtrl">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center padding-top-30 padding-bottom-30">
                                <uib-pagination total-items="totalItems" ng-model="currentPage"></uib-pagination>
                            </div>
                        </div>

                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>