<div class="col-lg-12 bgimg bg-primary error_page">
    <section class="box nobox">
        <div class="content-body">
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <h1 class="page_error_code text-light">404</h1>
                    <h1 class="page_error_info text-light">It seems, page you are looking for does not exist</h1>
                    <div class="col-md-6 col-sm-6 col-xs-8 col-md-offset-3 col-sm-offset-3 col-xs-offset-2">
                        <form action="javascript:;" method="post" class="page_error_search">
                            <div class="input-group primary" inputgroup>
                                <span class="input-group-addon" style="border-color:#ffffff;">
                            <i class="material-icons icon-light" style='color:#ffffff;'>search</i>
                        </span>
                                <input type="text" style='color:#ffffff;border-color:#ffffff;' class="form-control" placeholder="Try a new search">
                                <input type='submit' value="">
                            </div>
                            
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
