<div class="col-lg-12 bgimg error_page bg-primary">
    <section class="box nobox">
                <div class="content-body">    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">

            <h1 class="page_error_code text-light">500</h1>
            <h1 class="page_error_info text-light">There is something wrong with the page you are looking for.</h1>

            <div class="col-md-6 col-sm-6 col-xs-8 col-md-offset-3 col-sm-offset-3 col-xs-offset-2">
                <form action="javascript:;" method="post" class="page_error_search">
                    <div class="input-group accent" inputgroup>
                        <span class="input-group-addon" style="border-color:#ffffff;">
                           <i class="material-icons icon-light" style='color:#ffffff;'>search</i>
                        </span>
                        <input type="text" class="form-control" placeholder="Try a new search" style='color:#ffffff;border-color:#ffffff;' >
                        <input type='submit' value="">
                    </div>
                    
                </form>
            </div>

        </div>
    </div>
    </div>
        </section></div>



