<div class='content-wrapper' ng-init="app.settings.pagetitle = 'Other Elements';">

    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <section class="box ">
            <header class="panel_header">
                <h2 class="title pull-left">Breadcrumb</h2>
                <div class="actions panel_actions pull-right">
                    <i class="box_toggle material-icons">expand_more</i>
                    <i class="box_setting material-icons" ng-click="section_modal()">mode_edit</i>
                    <i class="box_close material-icons">close</i>
                </div>
            </header>
            <div class="content-body padding-bottom-15">
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12" ui-breadcrumb-auto-hidden>
                        <h4>Styles</h4>
                        <ol class="breadcrumb">
                            <li>
                                <a ui-sref="app.dashboard"><i class="fa fa-home"></i>Home</a>
                            </li>
                            <li>
                                <a href="form-elements.html">Form Elements</a>
                            </li>
                            <li class="active">
                                <strong>Fields</strong>
                            </li>
                        </ol>
                        <ol class="breadcrumb primary">
                            <li>
                                <a ui-sref="app.dashboard"><i class="fa fa-home"></i>Home</a>
                            </li>
                            <li>
                                <a href="form-elements.html">Form Elements</a>
                            </li>
                            <li class="active">
                                <strong>Fields</strong>
                            </li>
                        </ol>
                        <ol class="breadcrumb bg">
                            <li>
                                <a ui-sref="app.dashboard"><i class="fa fa-home"></i>Home</a>
                            </li>
                            <li>
                                <a href="form-elements.html">Form Elements</a>
                            </li>
                            <li class="active">
                                <strong>Fields</strong>
                            </li>
                        </ol>
                        <ol class="breadcrumb border">
                            <li>
                                <a ui-sref="app.dashboard"><i class="fa fa-home"></i>Home</a>
                            </li>
                            <li>
                                <a href="form-elements.html">Form Elements</a>
                            </li>
                            <li class="active">
                                <strong>Fields</strong>
                            </li>
                        </ol>
                        <div class="clearfix"></div>
                        
                    </div>





                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12" ui-breadcrumb-auto-hidden>
                        
                        <h4>Auto Hidden</h4>
                        <ol class="breadcrumb auto-hidden">
                            <li>
                                <a ui-sref="app.dashboard" class="collapsed"><i class="fa fa-home"></i>Home</a>
                            </li>
                            <li>
                                <a href="form-elements.html" class="collapsed">Form Elements</a>
                            </li>
                            <li class="active">
                                <strong>Fields</strong>
                            </li>
                        </ol>
                        <ol class="breadcrumb auto-hidden primary">
                            <li>
                                <a ui-sref="app.dashboard" class="collapsed"><i class="fa fa-home"></i>Home</a>
                            </li>
                            <li>
                                <a href="form-elements.html" class="collapsed">Form Elements</a>
                            </li>
                            <li class="active">
                                <strong>Fields</strong>
                            </li>
                        </ol>
                        <ol class="breadcrumb auto-hidden bg">
                            <li>
                                <a ui-sref="app.dashboard" class="collapsed"><i class="fa fa-home"></i>Home</a>
                            </li>
                            <li>
                                <a href="form-elements.html" class="collapsed">Form Elements</a>
                            </li>
                            <li class="active">
                                <strong>Fields</strong>
                            </li>
                        </ol>
                        <ol class="breadcrumb auto-hidden border">
                            <li>
                                <a ui-sref="app.dashboard" class="collapsed"><i class="fa fa-home"></i>Home</a>
                            </li>
                            <li>
                                <a href="form-elements.html" class="collapsed">Form Elements</a>
                            </li>
                            <li class="active">
                                <strong>Fields</strong>
                            </li>
                        </ol>
                    </div>













                </div>
            </div>
        </section>
    </div>
    
</div>
