<div class='content-wrapper' ng-init="app.settings.pagetitle = 'Other Elements';">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <section class="box ">
            <header class="panel_header">
                <h2 class="title pull-left">Pagination</h2>
                <div class="actions panel_actions pull-right">
                    <i class="box_toggle material-icons">expand_more</i>
                    <i class="box_setting material-icons" ng-click="section_modal()">mode_edit</i>
                    <i class="box_close material-icons">close</i>
                </div>
            </header>
            <div class="content-body padding-bottom-15">
                <div class="row">
                    <div class="col-lg-8 col-md-8 col-sm-10 col-xs-10">
                        <div ng-controller="PaginationDemoCtrl">
                            <h4>Default</h4>
                            <uib-pagination total-items="totalItems" ng-model="currentPage" ng-change="pageChanged()"></uib-pagination>
                            <uib-pagination boundary-links="true" total-items="totalItems" ng-model="currentPage" class="pagination-sm" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></uib-pagination>
                            <div class="clearfix"></div>
                            <uib-pagination direction-links="false" boundary-links="true" total-items="totalItems" ng-model="currentPage"></uib-pagination>
                            <div class="clearfix"></div>
                            <uib-pagination direction-links="false" total-items="totalItems" ng-model="currentPage" num-pages="smallnumPages"></uib-pagination>
                            <pre>The selected page no: {{currentPage}}</pre>
                            <button class="btn btn-primary" ng-click="setPage(3)">Set current page to: 3</button>
                            <hr />
                            <h4>Pager</h4>
                            <uib-pager total-items="totalItems" ng-model="currentPage"></uib-pager>
                            <hr />
                            <h4>Limit the maximum visible buttons</h4>
                            <uib-pagination total-items="bigTotalItems" ng-model="bigCurrentPage" max-size="maxSize" class="pagination-sm" boundary-links="true"></uib-pagination>
                            <uib-pagination total-items="bigTotalItems" ng-model="bigCurrentPage" max-size="maxSize" class="pagination-sm" boundary-links="true" rotate="false" num-pages="numPages"></uib-pagination>
                            <pre>Page: {{bigCurrentPage}} / {{numPages}}</pre>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <section class="box ">
            <header class="panel_header">
                <h2 class="title pull-left">Breadcrumb</h2>
                <div class="actions panel_actions pull-right">
                    <i class="box_toggle material-icons">expand_more</i>
                    <i class="box_setting material-icons" ng-click="section_modal()">mode_edit</i>
                    <i class="box_close material-icons">close</i>
                </div>
            </header>
            <div class="content-body padding-bottom-15">
                <div class="row">
                    <div class="col-lg-8 col-md-8 col-sm-10 col-xs-10" ui-breadcrumb-auto-hidden>
                        <h4>Styles</h4>
                        <ol class="breadcrumb">
                            <li>
                                <a ui-sref="app.dashboard"><i class="fa fa-home"></i>Home</a>
                            </li>
                            <li>
                                <a href="form-elements.html">Form Elements</a>
                            </li>
                            <li class="active">
                                <strong>Fields</strong>
                            </li>
                        </ol>
                        <ol class="breadcrumb primary">
                            <li>
                                <a ui-sref="app.dashboard"><i class="fa fa-home"></i>Home</a>
                            </li>
                            <li>
                                <a href="form-elements.html">Form Elements</a>
                            </li>
                            <li class="active">
                                <strong>Fields</strong>
                            </li>
                        </ol>
                        <ol class="breadcrumb bg">
                            <li>
                                <a ui-sref="app.dashboard"><i class="fa fa-home"></i>Home</a>
                            </li>
                            <li>
                                <a href="form-elements.html">Form Elements</a>
                            </li>
                            <li class="active">
                                <strong>Fields</strong>
                            </li>
                        </ol>
                        <ol class="breadcrumb border">
                            <li>
                                <a ui-sref="app.dashboard"><i class="fa fa-home"></i>Home</a>
                            </li>
                            <li>
                                <a href="form-elements.html">Form Elements</a>
                            </li>
                            <li class="active">
                                <strong>Fields</strong>
                            </li>
                        </ol>
                        <div class="clearfix"></div>
                        <br>
                        <h4>Auto Hidden</h4>
                        <ol class="breadcrumb auto-hidden">
                            <li>
                                <a ui-sref="app.dashboard" class="collapsed"><i class="fa fa-home"></i>Home</a>
                            </li>
                            <li>
                                <a href="form-elements.html" class="collapsed">Form Elements</a>
                            </li>
                            <li class="active">
                                <strong>Fields</strong>
                            </li>
                        </ol>
                        <ol class="breadcrumb auto-hidden primary">
                            <li>
                                <a ui-sref="app.dashboard" class="collapsed"><i class="fa fa-home"></i>Home</a>
                            </li>
                            <li>
                                <a href="form-elements.html" class="collapsed">Form Elements</a>
                            </li>
                            <li class="active">
                                <strong>Fields</strong>
                            </li>
                        </ol>
                        <ol class="breadcrumb auto-hidden bg">
                            <li>
                                <a ui-sref="app.dashboard" class="collapsed"><i class="fa fa-home"></i>Home</a>
                            </li>
                            <li>
                                <a href="form-elements.html" class="collapsed">Form Elements</a>
                            </li>
                            <li class="active">
                                <strong>Fields</strong>
                            </li>
                        </ol>
                        <ol class="breadcrumb auto-hidden border">
                            <li>
                                <a ui-sref="app.dashboard" class="collapsed"><i class="fa fa-home"></i>Home</a>
                            </li>
                            <li>
                                <a href="form-elements.html" class="collapsed">Form Elements</a>
                            </li>
                            <li class="active">
                                <strong>Fields</strong>
                            </li>
                        </ol>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <div class="clearfix"></div>
    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
        <section class="box ">
            <header class="panel_header">
                <h2 class="title pull-left">Group List</h2>
                <div class="actions panel_actions pull-right">
                    <i class="box_toggle material-icons">expand_more</i>
                    <i class="box_setting material-icons" ng-click="section_modal()">mode_edit</i>
                    <i class="box_close material-icons">close</i>
                </div>
            </header>
            <div class="content-body padding-bottom-10">
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <ul class="list-group">
                            <li class="list-group-item">Cras justo odio</li>
                            <li class="list-group-item">Dapibus ac facilisis in</li>
                            <li class="list-group-item">Morbi leo risus</li>
                            <li class="list-group-item">Porta ac consectetur ac</li>
                            <li class="list-group-item">Vestibulum at eros</li>
                        </ul>
                        <ul class="list-group">
                            <li class="list-group-item">
                                <span class="badge">14</span> Cras justo odio
                            </li>
                        </ul>
                        <div class="list-group">
                            <a href="#" class="list-group-item active">
                    Cras justo odio
                </a>
                            <a href="#" class="list-group-item">Dapibus ac facilisis in</a>
                            <a href="#" class="list-group-item">Morbi leo risus</a>
                            <a href="#" class="list-group-item">Porta ac consectetur ac</a>
                            <a href="#" class="list-group-item">Vestibulum at eros</a>
                        </div>
                        <div class="list-group">
                            <a href="#" class="list-group-item list-group-item-success">Dapibus ac facilisis in</a>
                            <a href="#" class="list-group-item list-group-item-info">Cras sit amet nibh libero</a>
                            <a href="#" class="list-group-item list-group-item-warning">Porta ac consectetur ac</a>
                            <a href="#" class="list-group-item list-group-item-danger">Vestibulum at eros</a>
                        </div>
                        <div class="list-group">
                            <a href="#" class="list-group-item active">
                                <h4 class="list-group-item-heading">List group item heading</h4>
                                <p class="list-group-item-text">Dapibus ac facilisis in. Dapibus ac facilisis in</p>
                            </a>
                            <a href="#" class="list-group-item">
                                <h4 class="list-group-item-heading">List group item heading</h4>
                                <p class="list-group-item-text">Dapibus ac facilisis in. Dapibus ac facilisis in</p>
                            </a>
                            <a href="#" class="list-group-item">
                                <h4 class="list-group-item-heading">List group item heading</h4>
                                <p class="list-group-item-text">Dapibus ac facilisis in. Dapibus ac facilisis in</p>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
    
    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
        <section class="box ">
            <header class="panel_header">
                <h2 class="title pull-left">Responsive Embed</h2>
                <div class="actions panel_actions pull-right">
                    <i class="box_toggle material-icons">expand_more</i>
                    <i class="box_setting material-icons" ng-click="section_modal()">mode_edit</i>
                    <i class="box_close material-icons">close</i>
                </div>
            </header>
            <div class="content-body">
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <!-- 16:9 aspect ratio -->
                        <div class="embed-responsive embed-responsive-16by9">
                            <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/xArnYj5TbX0" frameborder="0" allowfullscreen></iframe>
                        </div>
                        <div class="clearfix"></div>
                        <br>
                        <!-- 4:3 aspect ratio -->
                        <div class="embed-responsive embed-responsive-4by3">
                            <iframe class="embed-responsive-item" src="https://player.vimeo.com/video/60859933" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
    
</div>
