<div class='content-wrapper' ng-init="app.settings.pagetitle = 'Retina Icons';  ">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <section class="box ">
            <header class="panel_header">
                <h2 class="title pull-left">Material Design</h2>
                <div class="actions panel_actions pull-right">
                    <i class="box_toggle material-icons">expand_more</i>
                    <i class="box_setting material-icons" ng-click="section_modal()">mode_edit</i>
                    <i class="box_close material-icons">close</i>
                </div>
            </header>
            <div class="content-body">
                <div class="row">
                    <div class="col-md-4 col-sm-6 col-xs-12">
                        <a ui-sref="app.ui.materialicons" class='icons-set'>
                            <div class="img-overlay animated fadeIn"><span>Load Icons</span></div>
                            <img data-src="img/material.png" class="img-responsive" alt="140x140" src="img/material.png" data-holder-rendered="true">
                        </a>
                    </div>
                    <div class="col-md-8 col-sm-6 col-xs-12">
                        <h3>Material Design Icons</h3>
                        <p>Material design system icons are simple, modern, friendly, and sometimes quirky. Each icon is created using our design guidelines to depict in simple and minimal forms the universal concepts used commonly throughout a UI.</p>
                        <p>Ensuring readability and clarity at both large and small sizes, these icons have been optimized for beautiful display on all common platforms and display resolutions.</p>
                        <br>
                        <a ui-sref="app.ui.materialicons" class="btn btn-primary">Load Icons</a>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <section class="box ">
            <header class="panel_header">
                <h2 class="title pull-left">Font Awesome</h2>
                <div class="actions panel_actions pull-right">
                    <i class="box_toggle material-icons">expand_more</i>
                    <i class="box_setting material-icons" ng-click="section_modal()">mode_edit</i>
                    <i class="box_close material-icons">close</i>
                </div>
            </header>
            <div class="content-body">
                <div class="row">
                    <div class="col-md-4 col-sm-6 col-xs-12">
                        <a ui-sref="app.ui.faicons" class='icons-set'>
                            <div class="img-overlay animated fadeIn"><span>Load Icons</span></div>
                            <img data-src="img/fa.png" class="img-responsive" alt="140x140" src="img/fa.png" data-holder-rendered="true">
                        </a>
                    </div>
                    <div class="col-md-8 col-sm-6 col-xs-12">
                        <h3>FontAwesome Icons</h3>
                        <p>Font Awesome gives you scalable vector icons that can instantly be customized — size, color, drop shadow, and anything that can be done with the power of CSS.</p>
                        <p>In a single collection, Font Awesome is a pictographic language of web-related actions. Font Awesome is completely free for commercial use. Originally designed for Bootstrap, Font Awesome works great with all frameworks.</p>
                        <br>
                        <a ui-sref="app.ui.faicons" class="btn btn-primary">Load Icons</a>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <section class="box ">
            <header class="panel_header">
                <h2 class="title pull-left">Glyph Icons</h2>
                <div class="actions panel_actions pull-right">
                    <i class="box_toggle material-icons">expand_more</i>
                    <i class="box_setting material-icons" ng-click="section_modal()">mode_edit</i>
                    <i class="box_close material-icons">close</i>
                </div>
            </header>
            <div class="content-body">
                <div class="row">
                    <div class="col-md-4 col-sm-6 col-xs-12">
                        <a ui-sref="app.ui.glyphicons" class='icons-set'>
                            <div class="img-overlay animated fadeIn"><span>Load Icons</span></div>
                            <img data-src="img/glyph.png" class="img-responsive" alt="140x140" src="img/glyph.png" data-holder-rendered="true">
                        </a>
                    </div>
                    <div class="col-md-8 col-sm-6 col-xs-12">
                        <h3>Bootstrap Glyph Icons</h3>
                        <p>Includes over 250 glyphs in font format from the Glyphicon Halflings set.</p>
                        <p>Glyphicons Halflings are normally not available for free, but their creator has made them available for Bootstrap free of cost. As a thank you, we only ask that you include a link back to Glyphicons whenever possible.</p>
                        <br>
                        <a ui-sref="app.ui.glyphicons" class="btn btn-primary">Load Icons</a>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>
