<div class="modal-header">
    <h3 class="modal-title">Sign In</h3>
</div>
                                        <div class="modal-body">
                                            <form class="form-horizontal" role="form">
                                                <div class="input-group" inputgroup>
                                                    <span class="input-group-addon">
                                            <span class="arrow"></span>
                                                    <i class="fa fa-envelope"></i>
                                                    </span>
                                                    <input type="text" class="form-control" placeholder="Your Email" id='inputEmail2' value=''>
                                                </div>
                                                <br>
                                                <div class="input-group" inputgroup>
                                                    <span class="input-group-addon">
                                            <span class="arrow"></span>
                                                    <i class="fa fa-lock"></i>
                                                    </span>
                                                    <input type="password" class="form-control" placeholder="Your Password" id='inputpw2' value=''>
                                                </div>
                                                <br>
                                                <div class="input-group" inputgroup>

                            <label class="icheck form-label ">
                                <input type="checkbox" value="" checked>
                                <i></i> Remember me
                            </label>          </div>
                                                <br>
                                                <div class="input-group" inputgroup>
                                                    <div class="">
                                                        <button type="submit" ng-click="ok()"  class="btn btn-primary">Sign in</button>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
