<div class='content-wrapper' ng-init="app.settings.pagetitle = 'Members';">
    <div class="col-lg-12" ng-controller="MembersCtrl">
        <section class="box ">
            <header class="panel_header">
                <h2 class="title pull-left">All Team</h2>
                <div class="actions panel_actions pull-right">
                    <i class="box_toggle material-icons">expand_more</i>
                    <i class="box_setting material-icons" ng-click="section_modal()">mode_edit</i>
                    <i class="box_close material-icons">close</i>
                </div>
            </header>
            <div class="content-body padding-bottom-0">
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="row">
                            <div class="col-lg-12 col-sm-12 col-md-12" ng-repeat="member in members | filter:{ view: 'large' }">
                                <div class="team-member ">
                                    <div class="team-img col-md-4 col-sm-5 col-xs-12">
                                        <img class="img-responsive" ng-src="{{member.avatar}}" alt="">
                                    </div>
                                    <div class="team-info col-md-8 col-sm-7 col-xs-12">
                                        <h3 class='text-primary'>{{member.name}}</h3>
                                        <span>{{member.position}}</span>
                                    <div class="clearfix"></div>
                                    <p class="margin-top-30">{{member.brief}}</p>
                                    <ul class="social-icons list-inline list-unstyled">
                                        <li><a href="#"><i class="fa fa-facebook icon-bordered icon-primary icon-xs"></i></a></li>
                                        <li><a href="#"><i class="fa fa-twitter icon-bordered icon-primary icon-xs"></i></a></li>
                                        <li><a href="#"><i class="fa fa-google-plus icon-bordered icon-primary icon-xs"></i></a></li>
                                        <li><a href="#"><i class="fa fa-linkedin icon-bordered icon-primary icon-xs"></i></a></li>
                                    </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>
