<div class="modal-header">
    <h3 class="modal-title">Inline Form In modal</h3>
</div>
<div class="modal-body">
    <form role="form" class="form-inline">
        <div class="form-group">
            <input type="text" class="form-control" placeholder="Username">
        </div>
        <div class="form-group">
            <input type="password" class="form-control" placeholder="Password">
        </div>
        <div class="form-group pull-right">
            <button class="btn btn-primary " ng-click="ok()">Sign in</button>
        </div>
        <div class="form-group margin-top-15">
            <label class="icheck form-label ">
                <input type="checkbox" value="" checked>
                <i></i> Remember me
            </label>
        </div>
    </form>
</div>
