<div class='content-wrapper' ng-init="app.settings.pagetitle = 'Typography';  ">
    <div class="">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="row">
                <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
                    <section class="box ">
                        <header class="panel_header">
                            <h2 class="title pull-left">Headings</h2>
                            <div class="actions panel_actions pull-right">
                                <i class="box_toggle material-icons">expand_more</i>
                                <i class="box_setting material-icons" ng-click="section_modal()">mode_edit</i>
                                <i class="box_close material-icons">close</i>
                            </div>
                        </header>
                        <div class="content-body">
                            <div class="row">
                                <div class="col-md-12">
                                    <h1>H1. Bootstrap Heading 1 </h1>
                                    <h2>H2. Bootstrap Heading 2 </h2>
                                    <h3>H3. Bootstrap Heading 3 </h3>
                                    <h4>H4. Bootstrap Heading 4 </h4>
                                    <h5>H5. Bootstrap Heading 5 </h5>
                                    <h6 class="margin-bottom-0">H6. Bootstrap Heading 6 </h6>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
                <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
                    <section class="box ">
                        <header class="panel_header">
                            <h2 class="title pull-left">Style & Tags</h2>
                            <div class="actions panel_actions pull-right">
                                <i class="box_toggle material-icons">expand_more</i>
                                <i class="box_setting material-icons" ng-click="section_modal()">mode_edit</i>
                                <i class="box_close material-icons">close</i>
                            </div>
                        </header>
                        <div class="content-body">
                            <div class="row">
                                <div class="col-md-12">
                                    <p>
                                        Shading adds gradation marks
                                        <abbr title="HyperText Markup Language" class="initialism">HTML</abbr> to make an object of a two-dimensional
                                        <mark>surface seem three-dimensional</mark>.
                                    </p>
                                    <br>
                                    <h1 class="light">the elements, <span class="semi-bold">bring them together</span></h1>
                                    <h4>Visual unity is a main goal of graphic design</h4>
                                    <h4 class="margin-bottom-0"><span class="semi-bold">Semi Bold</span>, Light , <span class="semi-bold">Bold</span> , <i>Italics</i></h4>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
                <div class="clearfix"></div>
                <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
                    <section class="box ">
                        <header class="panel_header">
                            <h2 class="title pull-left">Well</h2>
                            <div class="actions panel_actions pull-right">
                                <i class="box_toggle material-icons">expand_more</i>
                                <i class="box_setting material-icons" ng-click="section_modal()">mode_edit</i>
                                <i class="box_close material-icons">close</i>
                            </div>
                        </header>
                        <div class="content-body">
                            <div class="row">
                                <div class="col-md-12 col-sm-12 col-xs-12">
                                    <div class="well">
                                        A good design contains elements that lead the reader.
                                    </div>
                                    <div class="well transparent">
                                        A good design contains elements that lead the reader.
                                    </div>
                                    <div class="well primary margin-bottom-0">
                                        A good design contains elements that lead the reader.
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
                <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
                    <section class="box ">
                        <header class="panel_header">
                            <h2 class="title pull-left">Blockquotes</h2>
                            <div class="actions panel_actions pull-right">
                                <i class="box_toggle material-icons">expand_more</i>
                                <i class="box_setting material-icons" ng-click="section_modal()">mode_edit</i>
                                <i class="box_close material-icons">close</i>
                            </div>
                        </header>
                        <div class="content-body">
                            <div class="row">
                                <div class="col-md-12 col-sm-12 col-xs-12">
                                    <blockquote>
                                        <p>Genius is one percent inspiration and ninety-nine percent perspiration.</p>
                                        <small>Thomas A. Edison</small>
                                    </blockquote>
                                    <blockquote class="accent background pull-right">
                                        <p>I no have education. I have inspiration. If I was educated, I would be a damn fool.</p>
                                        <small>Bob Marley</small>
                                    </blockquote>
                                    <div class='clearfix'></div>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </div>
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="row">
                <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12">
                    <section class="box ">
                        <header class="panel_header">
                            <h2 class="title pull-left">Unordered Lists</h2>
                            <div class="actions panel_actions pull-right">
                                <i class="box_toggle material-icons">expand_more</i>
                                <i class="box_setting material-icons" ng-click="section_modal()">mode_edit</i>
                                <i class="box_close material-icons">close</i>
                            </div>
                        </header>
                        <div class="content-body">
                            <div class="row">
                                <div class="col-md-12 col-sm-12 col-xs-12">
                                    <ul class="margin-bottom-0">
                                        <li>
                                            Lorem ipsum dolor sit amet
                                        </li>
                                        <li>
                                            Faucibus porta lacus fringilla vel
                                        </li>
                                        <li>
                                            Facilisis in pretium nisl aliquet
                                        </li>
                                        <li>
                                            Nulla volutpat aliquam velit
                                            <ul>
                                                <li>
                                                    Phasellus iaculis neque
                                                </li>
                                                <li>
                                                    Purus sodales ultricies
                                                </li>
                                                <li>
                                                    Ac tristique libero volutpat at
                                                </li>
                                            </ul>
                                        </li>
                                        <li>
                                            Faucibus porta lacus fringilla vel
                                        </li>
                                        <li>
                                            Aenean sit amet erat nunc
                                        </li>
                                        <li>
                                            Faucibus porta lacus fringilla vel
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12">
                    <section class="box ">
                        <header class="panel_header">
                            <h2 class="title pull-left">Ordered Lists</h2>
                            <div class="actions panel_actions pull-right">
                                <i class="box_toggle material-icons">expand_more</i>
                                <i class="box_setting material-icons" ng-click="section_modal()">mode_edit</i>
                                <i class="box_close material-icons">close</i>
                            </div>
                        </header>
                        <div class="content-body">
                            <div class="row">
                                <div class="col-md-12 col-sm-12 col-xs-12">
                                    <ol class="margin-bottom-0">
                                        <li><span>Lorem ipsum dolor sit amet</span></li>
                                        <li><span>Consectetur adipiscing elit</span></li>
                                        <li><span>Integer molestie lorem at massa</span></li>
                                        <li><span>Facilisis in pretium nisl aliquet</span></li>
                                        <li><span>Nulla volutpat aliquam velit</span></li>
                                        <li><span>Faucibus porta lacus fringilla vel</span></li>
                                        <li><span>Aenean sit amet erat nunc</span></li>
                                        <li><span>Eget porttitor lorem</span></li>
                                        <li><span>Nulla volutpat aliquam velit</span></li>
                                        <li><span>Faucibus porta lacus fringilla vel</span></li>
                                    </ol>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12">
                    <section class="box ">
                        <header class="panel_header">
                            <h2 class="title pull-left">Transform & Align</h2>
                            <div class="actions panel_actions pull-right">
                                <i class="box_toggle material-icons">expand_more</i>
                                <i class="box_setting material-icons" ng-click="section_modal()">mode_edit</i>
                                <i class="box_close material-icons">close</i>
                            </div>
                        </header>
                        <div class="content-body">
                            <div class="row">
                                <div class="col-md-12 col-sm-12 col-xs-12">
                                    <p class="text-left">Left aligned text.</p>
                                    <p class="text-center">Center aligned text.</p>
                                    <p class="text-right">Right aligned text.</p>
                                    <p class="text-justify">Justified text.</p>
                                    <p class="text-nowrap">No wrap text.</p>
                                    <p class="text-lowercase">Lowercased text.</p>
                                    <p class="text-uppercase">Uppercased text.</p>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12">
                    <section class="box ">
                        <header class="panel_header">
                            <h2 class="title pull-left">Code</h2>
                            <div class="actions panel_actions pull-right">
                                <i class="box_toggle material-icons">expand_more</i>
                                <i class="box_setting material-icons" ng-click="section_modal()">mode_edit</i>
                                <i class="box_close material-icons">close</i>
                            </div>
                        </header>
                        <div class="content-body padding-bottom-10">
                            <div class="row">
                                <div class="col-md-12 col-sm-12 col-xs-12">
                                    For example, <code>&lt;section&gt;</code> should be wrapped as inline.
                                    <br> To switch directories, type
                                    <kbd>cd</kbd> followed by the name of the directory.
                                    <br> To edit settings, press
                                    <kbd>
                                        <kbd>ctrl</kbd> +
                                        <kbd>,</kbd>
                                    </kbd>
                                    <br><br>
                                    <pre>&lt;p&gt;Sample text here...&lt;/p&gt;</pre>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>

                <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12">
                    <section class="box ">
                        <header class="panel_header">
                            <h2 class="title pull-left">Address</h2>
                            <div class="actions panel_actions pull-right">
                                <i class="box_toggle material-icons">expand_more</i>
                                <i class="box_setting material-icons" ng-click="section_modal()">mode_edit</i>
                                <i class="box_close material-icons">close</i>
                            </div>
                        </header>
                        <div class="content-body">
                            <div class="row">
                                <div class="col-md-12 col-sm-12 col-xs-12">
                                    <address class="margin-bottom-20 margin-top-10">
                                        <strong>Twitter, Inc.</strong>
                                        <br> 795 Folsom Ave, Suite 600
                                        <br> San Francisco, CA 94107
                                        <br>
                                        <abbr title="Phone">P:</abbr> (123) 456-7890
                                    </address>
                                    <address class="margin-bottom-0">
                                        <strong>Full Name</strong>
                                        <br>
                                        <a href="mailto:#">BeYOUtiful@example.com</a>
                                    </address>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>                
                <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12">
                    <section class="box ">
                        <header class="panel_header">
                            <h2 class="title pull-left">Inline Lists</h2>
                            <div class="actions panel_actions pull-right">
                                <i class="box_toggle material-icons">expand_more</i>
                                <i class="box_setting material-icons" ng-click="section_modal()">mode_edit</i>
                                <i class="box_close material-icons">close</i>
                            </div>
                        </header>
                        <div class="content-body">
                            <div class="row">
                                <div class="col-md-12 col-sm-12 col-xs-12">
                                    <ul class="list-inline margin-bottom-0">
                                        <li>1. Welcome</li>
                                        <li>2. To</li>
                                        <li>3. Slant Angular</li>
                                        <li>4. Admin</li>
                                        <li>5. Premium</li>
                                        <li>6. Theme</li>
                                        <li>7. Built</li>
                                        <li>8. With</li>
                                        <li>9. <i class='fa fa-heart'></i> Love</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </div>
</div>
