<div class='content-wrapper' ng-init="app.settings.pagetitle = 'Timeline';">
    <div class="col-lg-12">
        <section class="box ">
            <header class="panel_header">
                <h2 class="title pull-left">Timeline</h2>
                <div class="actions panel_actions pull-right">
                    <i class="box_toggle material-icons">expand_more</i>
                    <i class="box_setting material-icons" ng-click="section_modal()">mode_edit</i>
                    <i class="box_close material-icons">close</i>
                </div>
            </header>
            <div class="content-body">
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <!-- start -->
                        <ul class="timeline">
                            <li>
                                <div class="timeline-badge animated fadeIn"><i class="material-icons">person</i></div>
                                <div class="timeline-panel animated fadeIn">
                                    <div class="timeline-time pull-right">
                                        2 hours ago
                                    </div>
                                    <div class="clearfix"></div>
                                    <div class="timeline-img">
                                        <img src="img/c2.png" class='img-responsive'>
                                    </div>
                                    <div class="timeline-heading">
                                        <h3 class="timeline-title">Graphic Design</h3>
                                    </div>
                                    <div class="timeline-body">
                                        <p class='date'>17th July 2015</p>
                                        <p>Graphic design is the art of visual communication through the use of images, words, and ideas to give information to the viewers. Graphic design can be used for advertising, or just for entertainment intended for the mind.</p>
                                        <br>
                                        <a class='btn btn-primary btn-border btn-xs'>Read more</a>
                                    </div>
                                </div>
                            </li>
                            <li class="timeline-inverted ">
                                <div class="timeline-badge animated fadeIn"><i class="material-icons">dashboard</i></div>
                                <div class="timeline-panel animated fadeIn">
                                    <div class="timeline-time pull-left">
                                        2 hours ago
                                    </div>
                                    <div class="clearfix"></div>
                                    <div class="timeline-img">
                                        <img src="img/c1.png" class='img-responsive'>
                                    </div>
                                    <div class="timeline-heading">
                                        <h3 class="timeline-title">Contrast concepts</h3>
                                    </div>
                                    <div class="timeline-body">
                                        <p class='date'>17th July 2015</p>
                                        <p>Graphic design is the art of visual communication through the use of images, words, and ideas to give information to the viewers. Graphic design can be used for advertising, or just for entertainment intended for the mind.</p>
                                        <br>
                                        <a class='btn btn-primary btn-border btn-xs'>Read more</a>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="timeline-badge animated fadeIn"><i class="material-icons">album</i></div>
                                <div class="timeline-panel animated fadeIn">
                                    <div class="timeline-time pull-right">
                                        2 hours ago
                                    </div>
                                    <div class="clearfix"></div>
                                    <div class="timeline-img">
                                        <img src="img/c3.png" class='img-responsive'>
                                    </div>
                                    <div class="timeline-heading">
                                        <h3 class="timeline-title">Graphic Design</h3>
                                    </div>
                                    <div class="timeline-body">
                                        <p class='date'>17th July 2015</p>
                                        <p>Graphic design is the art of visual communication through the use of images, words, and ideas to give information to the viewers. Graphic design can be used for advertising, or just for entertainment intended for the mind.</p>
                                        <br>
                                        <a class='btn btn-primary btn-border btn-xs'>Read more</a>
                                    </div>
                                </div>
                            </li>
                            
                            <li class="timeline-inverted ">
                                <div class="timeline-badge animated fadeIn"><i class="material-icons">backup</i></div>
                                <div class="timeline-panel animated fadeIn">
                                    <div class="timeline-time pull-left">
                                        2 hours ago
                                    </div>
                                    <div class="clearfix"></div>
                                    <div class="timeline-img">
                                        <img src="img/c4.png" class='img-responsive'>
                                    </div>
                                    <div class="timeline-heading">
                                        <h3 class="timeline-title">Graphic Design</h3>
                                    </div>
                                    <div class="timeline-body">
                                        <p class='date'>17th July 2015</p>
                                        <p>Graphic design is the art of visual communication through the use of images, words, and ideas to give information to the viewers. Graphic design can be used for advertising, or just for entertainment intended for the mind.</p>
                                        <br>
                                        <a class='btn btn-primary btn-border btn-xs'>Read more</a>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="timeline-badge animated fadeIn"><i class="material-icons">brightness_5</i></div>
                                <div class="timeline-panel animated fadeIn">
                                    <div class="timeline-time pull-right">
                                        2 hours ago
                                    </div>
                                    <div class="clearfix"></div>
                                    <div class="timeline-img">
                                        <img src="img/c2.png" class='img-responsive'>
                                    </div>
                                    <div class="timeline-heading">
                                        <h3 class="timeline-title">Graphic Design</h3>
                                    </div>
                                    <div class="timeline-body">
                                        <p class='date'>17th July 2015</p>
                                        <p>Graphic design is the art of visual communication through the use of images, words, and ideas to give information to the viewers. Graphic design can be used for advertising, or just for entertainment intended for the mind.</p>
                                        <br>
                                        <a class='btn btn-primary btn-border btn-xs'>Read more</a>
                                    </div>
                                </div>
                            </li>
                        </ul>
                        <!-- end -->
                    </div>
                </div>
            </div>
        </section>
    </div>
   
</div>
