<div class='content-wrapper' ng-init="app.settings.pagetitle = 'University';  ">


    <div class="col-lg-8 col-md-12 col-sm-12 col-xs-12">
        <section class="box ">
            <header class="panel_header">
                <h2 class="title pull-left">University Admissions</h2>
                <div class="actions panel_actions pull-right">
                    <i class="box_toggle material-icons">expand_more</i>
                    <i class="box_setting material-icons" ng-click="section_modal()">mode_edit</i>
                    <i class="box_close material-icons">close</i>
                </div>
            </header>
            <div class="content-body">
                <div class="row">
                    <div class="col-lg-12 col-lg-offset-0 col-md-8 col-sm-12 col-xs-12 col-md-offset-2" ng-controller="UniversityAdmissionsCtrl">
                        <canvas id="line" class="chart chart-line" chart-data="data" chart-labels="labels" chart-legend="true" chart-series="series" chart-click="onClick" chart-colours="colours">
                        </canvas>
                    </div>
                </div>
            </div>
        </section>
    </div>

    <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12 hidden-md hidden-sm hidden-xs">
        <section class="box ">
            <header class="panel_header">
                <h2 class="title pull-left">Exam Toppers</h2>
                <div class="actions panel_actions pull-right">
                    <i class="box_toggle material-icons">expand_more</i>
                    <i class="box_setting material-icons" ng-click="section_modal()">mode_edit</i>
                    <i class="box_close material-icons">close</i>
                </div>
            </header>
            <div class="content-body padding-bottom-15">
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th>First Name</th>
                                    <th>Charts</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Dean Otto</td>
                                    <td>
                                        <div ng-init="data2=[10, 8, 5, 7, 4, 4, 7, 5, 2]" ui-jq="sparkline" ui-options="{{data2}}, {
                type: 'bar',
                barColor: '{{app.color.primary}}',
                height: '20',
                barWidth: '3',
                barSpacing: 1
                }" class="sparkline inline">...
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>K. Thornton</td>
                                    <td>
                                        <div ng-init="data2=[10, 8, 5, 7, 4, 4, 7, 5, 2]" ui-jq="sparkline" ui-options="{{data2}}, {
                type: 'bar',
                barColor: '{{app.color.accent}}',
                height: '20',
                barWidth: '3',
                barSpacing: 1
                }" class="sparkline inline">...
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Kane D.</td>
                                    <td>
                                        <div ng-init="data2=[10, 8, 5, 7, 4, 4, 7, 5, 2]" ui-jq="sparkline" ui-options="{{data2}}, {
                type: 'bar',
                barColor: '{{app.color.success}}',
                height: '20',
                barWidth: '3',
                barSpacing: 1
                }" class="sparkline inline">...
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Jack Bird</td>
                                    <td>
                                        <div ng-init="data2=[10, 8, 5, 7, 4, 4, 7, 5, 2]" ui-jq="sparkline" ui-options="{{data2}}, {
                type: 'bar',
                barColor: '{{app.color.warning}}',
                height: '20',
                barWidth: '3',
                barSpacing: 1
                }" class="sparkline inline">...
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Hughe L.</td>
                                    <td>
                                        <div ng-init="data2=[10, 8, 5, 7, 4, 4, 7, 5, 2]" ui-jq="sparkline" ui-options="{{data2}}, {
                type: 'bar',
                barColor: '{{app.color.danger}}',
                height: '20',
                barWidth: '3',
                barSpacing: 1
                }" class="sparkline inline">...
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Jack Bird</td>
                                    <td>
                                        <div ng-init="data2=[10, 8, 5, 7, 4, 4, 7, 5, 2]" ui-jq="sparkline" ui-options="{{data2}}, {
                type: 'bar',
                barColor: '{{app.color.warning}}',
                height: '20',
                barWidth: '3',
                barSpacing: 1
                }" class="sparkline inline">...
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Hughe L.</td>
                                    <td>
                                        <div ng-init="data2=[10, 8, 5, 7, 4, 4, 7, 5, 2]" ui-jq="sparkline" ui-options="{{data2}}, {
                type: 'bar',
                barColor: '{{app.color.danger}}',
                height: '20',
                barWidth: '3',
                barSpacing: 1
                }" class="sparkline inline">...
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </section>
    </div>
   
    <div class="col-lg-8 col-md-12 col-sm-12 col-xs-12">
        <section class="box ">
            <header class="panel_header">
                <h2 class="title pull-left">Student Passing</h2>
                <div class="actions panel_actions pull-right">
                    <i class="box_toggle material-icons">expand_more</i>
                    <i class="box_setting material-icons" ng-click="section_modal()">mode_edit</i>
                    <i class="box_close material-icons">close</i>
                </div>
            </header>
            <div class="content-body">
                <div class="row">

                    <div class="col-lg-12 col-lg-offset-0 col-md-8 col-sm-12 col-xs-12 col-md-offset-2" ng-controller="StudentPassingCtrl">
        
                        <div class="graph_axis_color">
                        <p><span class='bg-primary'></span> Engineering</p>
                        <p><span class='bg-accent'></span> Accounts</p>
                        </div>

                        <canvas id="bar" class="chart chart-bar" chart-data="data" chart-labels="labels" chart-colours="colours"></canvas>
                    </div>
                </div>
            </div>
        </section>
    </div>


<div class="col-lg-4 col-md-6 col-sm-12 col-xs-12 hidden-md hidden-sm hidden-xs">
        <section class="box ">
            <header class="panel_header">
                <h2 class="title pull-left">Student Progress</h2>
                <div class="actions panel_actions pull-right">
                    <i class="box_toggle material-icons">expand_more</i>
                    <i class="box_setting material-icons" ng-click="section_modal()">mode_edit</i>
                    <i class="box_close material-icons">close</i>
                </div>
            </header>
            <div class="content-body padding-bottom-15">
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th style='width:30%'>Score</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Mark Otto</td>
                                    <td>
                                        <div ng-init="data1=[5,10, 4, 4, 7, 5, 2, 8, 3, 4, 5]" ui-jq="sparkline" ui-options="{{data1}}, {
                type: 'line',
                width: '100%',
                height: '20',
                lineWidth: 1,
                lineColor: '{{app.color.primary}}',
                fillColor: '{{app.color.primary}}',
                highlightSpotColor: '{{app.color.accent}}',
                highlightLineColor: '#FF6E40',
                spotRadius: 1,
                }" class="sparkline inline">...
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Mr. Thornton</td>
                                    <td>
                                        <div ng-init="data1=[4, 7, 5, 2, 8, 3, 4, 5]" ui-jq="sparkline" ui-options="{{data1}}, {
                type: 'line',
                width: '100%',
                height: '20',
                lineWidth: 1,
                lineColor: '{{app.color.accent}}',
                fillColor: '{{app.color.accent}}',
                highlightSpotColor: '{{app.color.accent}}',
                highlightLineColor: '#FF6E40',
                spotRadius: 1,
                }" class="sparkline inline">...
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Ms. Michale</td>
                                    <td>
                                        <div ng-init="data1=[5,10, 4, 4, 7, 5, 2, 8, 3, 4, 5]" ui-jq="sparkline" ui-options="{{data1}}, {
                type: 'line',
                width: '100%',
                height: '20',
                lineWidth: 1,
                lineColor: '{{app.color.warning}}',
                fillColor: '{{app.color.warning}}',
                highlightSpotColor: '{{app.color.accent}}',
                highlightLineColor: '#FF6E40',
                spotRadius: 1,
                }" class="sparkline inline">...
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Mr. Thornton</td>
                                    <td>
                                        <div ng-init="data1=[4, 7, 5, 2, 8, 3, 4, 5]" ui-jq="sparkline" ui-options="{{data1}}, {
                type: 'line',
                width: '100%',
                height: '20',
                lineWidth: 1,
                lineColor: '{{app.color.accent}}',
                fillColor: '{{app.color.accent}}',
                highlightSpotColor: '{{app.color.accent}}',
                highlightLineColor: '#FF6E40',
                spotRadius: 1,
                }" class="sparkline inline">...
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Ms. Michale</td>
                                    <td>
                                        <div ng-init="data1=[5,10, 4, 4, 7, 5, 2, 8, 3, 4, 5]" ui-jq="sparkline" ui-options="{{data1}}, {
                type: 'line',
                width: '100%',
                height: '20',
                lineWidth: 1,
                lineColor: '{{app.color.warning}}',
                fillColor: '{{app.color.warning}}',
                highlightSpotColor: '{{app.color.accent}}',
                highlightLineColor: '#FF6E40',
                spotRadius: 1,
                }" class="sparkline inline">...
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>K. Jhonson</td>
                                    <td>
                                        <div ng-init="data1=[5,10, 4, 4, 7, 5, 2, 8, 3, 4, 5]" ui-jq="sparkline" ui-options="{{data1}}, {
                type: 'line',
                width: '100%',
                height: '20',
                lineWidth: 1,
                lineColor: '{{app.color.success}}',
                fillColor: '{{app.color.success}}',
                highlightSpotColor: '{{app.color.accent}}',
                highlightLineColor: '#FF6E40',
                spotRadius: 1,
                }" class="sparkline inline">...
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Kate Dawson</td>
                                    <td>
                                        <div ng-init="data1=[5,10, 4, 4, 7, 5, 2, 8, 3, 4, 5]" ui-jq="sparkline" ui-options="{{data1}}, {
                type: 'line',
                width: '100%',
                height: '20',
                lineWidth: 1,
                lineColor: '{{app.color.primary}}',
                fillColor: '{{app.color.primary}}',
                highlightSpotColor: '{{app.color.accent}}',
                highlightLineColor: '#FF6E40',
                spotRadius: 1,
                }" class="sparkline inline">...
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>K. Jhonson</td>
                                    <td>
                                        <div ng-init="data1=[5,10, 4, 4, 7, 5, 2, 8, 3, 4, 5]" ui-jq="sparkline" ui-options="{{data1}}, {
                type: 'line',
                width: '100%',
                height: '20',
                lineWidth: 1,
                lineColor: '{{app.color.success}}',
                fillColor: '{{app.color.success}}',
                highlightSpotColor: '{{app.color.accent}}',
                highlightLineColor: '#FF6E40',
                spotRadius: 1,
                }" class="sparkline inline">...
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Kate Dawson</td>
                                    <td>
                                        <div ng-init="data1=[5,10, 4, 4, 7, 5, 2, 8, 3, 4, 5]" ui-jq="sparkline" ui-options="{{data1}}, {
                type: 'line',
                width: '100%',
                height: '20',
                lineWidth: 1,
                lineColor: '{{app.color.primary}}',
                fillColor: '{{app.color.primary}}',
                highlightSpotColor: '{{app.color.accent}}',
                highlightLineColor: '#FF6E40',
                spotRadius: 1,
                }" class="sparkline inline">...
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </section>
    </div>

    <div class="col-lg-8 col-md-12 col-sm-12 col-xs-12">
        <section class="box ">
            <header class="panel_header">
                <h2 class="title pull-left">Student Test Score by Subjects</h2>
                <div class="actions panel_actions pull-right">
                    <i class="box_toggle material-icons">expand_more</i>
                    <i class="box_setting material-icons" ng-click="section_modal()">mode_edit</i>
                    <i class="box_close material-icons">close</i>
                </div>
            </header>
            <div class="content-body">
                <div class="row">
                    <div class="col-lg-12 col-lg-offset-0 col-md-8 col-sm-12 col-xs-12 col-md-offset-2" ng-controller="StudentTestScoreCtrl">
                        <canvas id="line" class="chart chart-line" chart-data="data" chart-labels="labels" chart-legend="true" chart-series="series" chart-click="onClick" chart-colours="colours">
                        </canvas>
                    </div>
                </div>
            </div>
        </section>
    </div>


    <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12 hidden-md hidden-sm hidden-xs">
        <section class="box ">
            <header class="panel_header">
                <h2 class="title pull-left">Attendance</h2>
                <div class="actions panel_actions pull-right">
                    <i class="box_toggle material-icons">expand_more</i>
                    <i class="box_setting material-icons" ng-click="section_modal()">mode_edit</i>
                    <i class="box_close material-icons">close</i>
                </div>
            </header>
            <div class="content-body padding-bottom-15">
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Progress</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Mark Otto</td>
                                    <td>
                                        <div ui-jq="easyPieChart" ui-options="{
                    easing: 'easeOutBounce',
                    barColor: '{{app.color.primary}}',
                    trackColor: '#eaeaea',
                    scaleColor: false,
                    lineCap: 'square',
                    lineWidth: 3,
                    size: 20,
                    animate: 1000,
                    percent: 66
                  }">
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Jacob Thornton</td>
                                    <td>
                                        <div ui-jq="easyPieChart" ui-options="{
                    easing: 'easeOutBounce',
                    barColor: '{{app.color.accent}}',
                    trackColor: '#eaeaea',
                    scaleColor: false,
                    lineCap: 'square',
                    lineWidth: 3,
                    size: 20,
                    animate: 1000,
                    percent: 66
                  }">
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Larry Bird</td>
                                    <td>
                                        <div ui-jq="easyPieChart" ui-options="{
                    easing: 'easeOutBounce',
                    barColor: '{{app.color.warning}}',
                    trackColor: '#eaeaea',
                    scaleColor: false,
                    lineCap: 'square',
                    lineWidth: 3,
                    size: 20,
                    animate: 1000,
                    percent: 66
                  }">
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Jason King</td>
                                    <td>
                                        <div ui-jq="easyPieChart" ui-options="{
                    easing: 'easeOutBounce',
                    barColor: '{{app.color.success}}',
                    trackColor: '#eaeaea',
                    scaleColor: false,
                    lineCap: 'square',
                    lineWidth: 3,
                    size: 20,
                    animate: 1000,
                    percent: 86
                  }">
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>M. Arthur</td>
                                    <td>
                                        <div ui-jq="easyPieChart" ui-options="{
                    easing: 'easeOutBounce',
                    barColor: '{{app.color.danger}}',
                    trackColor: '#eaeaea',
                    scaleColor: false,
                    lineCap: 'square',
                    lineWidth: 3,
                    size: 20,
                    animate: 1000,
                    percent: 36
                  }">
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Mark Otto</td>
                                    <td>
                                        <div ui-jq="easyPieChart" ui-options="{
                    easing: 'easeOutBounce',
                    barColor: '{{app.color.primary}}',
                    trackColor: '#eaeaea',
                    scaleColor: false,
                    lineCap: 'square',
                    lineWidth: 3,
                    size: 20,
                    animate: 1000,
                    percent: 66
                  }">
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Jacob Thornton</td>
                                    <td>
                                        <div ui-jq="easyPieChart" ui-options="{
                    easing: 'easeOutBounce',
                    barColor: '{{app.color.accent}}',
                    trackColor: '#eaeaea',
                    scaleColor: false,
                    lineCap: 'square',
                    lineWidth: 3,
                    size: 20,
                    animate: 1000,
                    percent: 66
                  }">
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </section>
    </div>


    <div class="col-lg-8 col-md-12 col-sm-12 col-xs-12">
        <section class="box ">
            <header class="panel_header">
                <h2 class="title pull-left">Professor Daily Activity</h2>
                <div class="actions panel_actions pull-right">
                    <i class="box_toggle material-icons">expand_more</i>
                    <i class="box_setting material-icons" ng-click="section_modal()">mode_edit</i>
                    <i class="box_close material-icons">close</i>
                </div>
            </header>
            <div class="content-body">
                <div class="row">
                    <div class="col-lg-12 col-lg-offset-0 col-md-8 col-sm-12 col-xs-12 col-md-offset-2" ng-controller="UniversityStudentActivityCtrl">


                        <div class="graph_axis_color">
                        <p><span class='bg-primary'></span> Summer</p>
                        <p><span class='bg-accent'></span> Winter</p>
                        <p><span class='bg-warning'></span> Monsoon</p>
                        </div>

                        <canvas id="radar" class="chart chart-radar" chart-data="data" chart-labels="labels" chart-colours="colours"></canvas>
                    </div>
                </div>
            </div>
        </section>
    </div>


    <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12 hidden-md hidden-sm hidden-xs">
        <section class="box ">
            <header class="panel_header">
                <h2 class="title pull-left">Student Percent</h2>
                <div class="actions panel_actions pull-right">
                    <i class="box_toggle material-icons">expand_more</i>
                    <i class="box_setting material-icons" ng-click="section_modal()">mode_edit</i>
                    <i class="box_close material-icons">close</i>
                </div>
            </header>
            <div class="content-body padding-bottom-15">
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Progress</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>L. Otto</td>
                                    <td>
                                        <uib-progressbar value="35" class="progress progress-sm primary"></uib-progressbar>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Cart Thornton</td>
                                    <td>
                                        <uib-progressbar value="55" class="progress progress-sm success"></uib-progressbar>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Nik Bird</td>
                                    <td>
                                        <uib-progressbar value="75" class="progress progress-sm accent"></uib-progressbar>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Kate W.</td>
                                    <td>
                                        <uib-progressbar value="85" class="progress progress-sm warning"></uib-progressbar>
                                    </td>
                                </tr>
                                <tr>
                                    <td>L. Otto</td>
                                    <td>
                                        <uib-progressbar value="35" class="progress progress-sm primary"></uib-progressbar>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Cart Thornton</td>
                                    <td>
                                        <uib-progressbar value="55" class="progress progress-sm success"></uib-progressbar>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Jack Bird</td>
                                    <td>
                                        <uib-progressbar value="90" class="progress progress-sm danger"></uib-progressbar>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>
