<div class='content-wrapper' ng-init="app.settings.pagetitle = 'Edit Library Asset';">
    <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">
        <section class="box ">
            <header class="panel_header">
                <h2 class="title pull-left">Library Asset Basic Info</h2>
                <div class="actions panel_actions pull-right">
                    <i class="box_toggle material-icons">expand_more</i>
                    <i class="box_setting material-icons" ng-click="section_modal()">mode_edit</i>
                    <i class="box_close material-icons">close</i>
                </div>
            </header>
            <div class="content-body padding-bottom-0">
                <div class="row">
                <form action ="#" method="post">
                    <div class="col-lg-8 col-md-8 col-sm-9 col-xs-12">
                        <div class="form-group">
                            <label class="form-label" for="field-1">Title</label>
                            <span class="desc"></span>
                            <div class="controls">
                                <input type="text" value="Computer Coding Standards" class="form-control" id="field-1">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="form-label" for="field-1">Subject</label>
                            <span class="desc"></span>
                            <div class="controls">
                                <input type="text" value="Computer Programming" class="form-control" id="field-1">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="form-label" for="field-1">Library Asset Price</label>
                            <span class="desc">Eg: Free, $400.00</span>
                            <div class="controls">
                                <input type="text" value="$30.00" class="form-control" id="field-1">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="form-label" for="field-1">Author</label>
                            <span class="desc">Eg: Prof. John Law</span>
                            <div class="controls">
                                <input type="text" value="Prof. Mark A." class="form-control" id="field-1">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="form-label" for="field-5">Department</label>
                            <span class="desc"></span>
                            <div class="input-group" inputgroup>
                                <select class="form-control ">
                                    <option selected="selected">Computer Engineering</option>
                                    <option>Architecture</option>
                                    <option>MBA</option>
                                    <option>Automobile Engg.</option>
                                    <option>Civil Engg.</option>
                                    <option>Mechanical Engg.</option>
                                    <option>BBA</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="form-label" for="field-5">Asset Type</label>
                            <span class="desc"></span>
                            <div class="input-group" inputgroup>
                                <select class="form-control ">
                                    <option selected="selected">Book</option>
                                    <option>DVD</option>
                                    <option>CD</option>
                                    <option>Newspaper</option>
                                    <option>Report</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="form-label" for="field-5">Status</label>
                            <span class="desc"></span>
                            <div class="input-group" inputgroup>
                                <select class="form-control ">
                                    <option selected="selected">In Stock</option>
                                    <option>Out of Stock</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="form-label" for="field-1">Year</label>
                            <span class="desc">Eg: Last Year.</span>
                            <div class="controls">
                                <input type="text" value="Last Year" class="form-control" id="field-1">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="form-label" for="field-6">Brief</label>
                            <span class="desc">e.g. "Enter any size of text description here"</span>
                            <div class="controls">
                                <textarea class="form-control" cols="5" id="field-6">Full info of the library asset can be added here</textarea>
                            </div>
                        </div>
                    </div>


                        <div class="col-lg-8 col-md-8 col-sm-9 col-xs-12 padding-bottom-30">
                            <div class="text-left">
                                <button type="button" class="btn btn-primary">Save</button>
                                <button type="button" class="btn">Cancel</button>
                            </div>
                        </div>
                    </form>


                </div>
            </div>
        </section>
    </div>
   
</div>